.big-checkbox {
  transform: scale(1.6);
  cursor: pointer;
}

/* .page {
  width: 210mm;
  height: 297mm;
  page-break-after: always;
  padding: 20mm;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

body {
  background: white;
}

.page {
  width: 210mm;
  height: 297mm;
  margin: auto;
  padding: 20px;
  page-break-after: always;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-text {
  width: 250px;
  text-align: center;
  font-size: 14px;
  line-height: 1.25;
  font-weight: bold;
}

.logo-text .dbm {
  text-decoration: underline;
}

.title {
  flex: 1;
  text-align: center;
  margin-top: 70px;
}

.title h2 {
  font-size: 34px;
  text-decoration: underline;
}

.title h3 {
  margin-top: 15px;
  font-size: 28px;
  color: #1b75bb;
  text-decoration: underline;
}

.content {
  margin-top: 70px;
  text-align: center;
  font-size: 28px;
}

.content p {
  margin: 8px 0;
}

.fields {
  margin-top: 25px;
  font-size: 28px;
}

.field {
  margin: 15px 0;
}

.signature-box {
  margin-top: 40px;
  border: 2px solid #555;
  height: 220px;
  display: flex;
}

.left,
.right {
  width: 50%;
  padding: 15px;
}

.left h3,
.right h3 {
  text-align: center;
  text-decoration: underline;
}

.footer {
  margin-top: 25px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

@media print {
  .page {
    page-break-after: always;
  }
}